{%extends 'mantenedor/Publico/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}
{% block contenido %}


<h1 id="encabezado" class="encabezado">Cursos</h1>
<div id="lista-cursos" class="container">
    {% for curso in cursos %}
    <div class="row">
        <div class="four columns">
            <div class="card">
                {% if curso.imagen %}
                <img src="{{ curso.imagen.url }}" class="imagen-curso u-full-width">
                <div class="info-card">
                    <h2>{{ curso.titulo }}</h2>
                    <h2 class="">Precio: ${{ curso.precio }} </h2>
                    <img src="{% static 'mantenedor/FotosImg/estrellas.png'%}">
                </br>
                <h3> Profesor: {{ curso.autor }}</h3>
                </br>
                    <a href="#" class="u-full-width button-primary button input" data-id="2">Detalles del curso</a>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar Al Carrito</a>
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}