{%extends 'mantenedor/Publico/base.html' %}


{% load static %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'mantenedor/js/confirmacion.js' %}"></script>

{% endblock %}




{% block contenido%}

<h2>listado</h2>
<table>
{% csrf_token %}
    <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Talla</th>
         {% if user.is_authenticated%}
        <th>Opciones</th>
        {%endif%}
    </tr>


    {% for c in listadoCursos %}

  <tr>
        <th>{{ c.nombre}}</th>
        <th>{{ c.marca}}</th>
        <th>{{ c.modelo}}</th>
        <th>{{ c.precio}}</th>
        <th>{{ c.talla}}</th>


        {% if user.is_authenticated%}
        <td>
            <a href="{% url 'modificarCurso' c.id%}">Modificar</a>
        </td>
          <td>
            <a href="{% url 'eliminarCurso' c.id %}">Eliminar</a>
        </td>
        {% comment %} <td>
            <a href="#" onclick="confirmarEliminacion({{ c.id }})">Eliminar</a>
        </td> {% endcomment %}
        {%endif%}
    </tr>
    {% endfor %}
</table>

{% endblock %}
