{%extends 'mantenedor/Publico/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block contenido%}

<h2>Modificar Cursos</h2>

<div class="container ">
    <form class="text-uppercase" action="" method="POST">
    {% csrf_token %}
            {{ form | crispy }}
   <div    class="float-right ">
        <input type="reset" value="Limpiar" class="btn btn-primary">
        <input type="submit" value="Modificar" class="btn btn-success">
    
   </div>

</form>
</div>
{{mensaje}}

{% endblock %}
