<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <table id="tblTitulo1" class="table1" width="100%">
                        <tr>
                            <td>
                                <h2><b>&nbsp;&nbsp;Producto</b></h2>
                            </td>
                        </tr>
                    </table>
                    <div class="container_table box-title table-responsive" style="width: 100%">
                        <form class="form-horizontal well" id="forms-registro">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input01">Código</label>
                                <div class="col-sm-3">
                                    <input notnull="" title="Código" type="text" class="input-large required "
                                        id="txCodigo" name="txCodigo" maxlength="10" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input01">Titulo</label>
                                <div class="col-sm-3">
                                    <input notnull="" title="Titulo" type="text" class="input-large required "
                                        id="txTitulo" name="txTitulo" maxlength="100" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input01">Descripción Breve</label>
                                <div class="col-sm-3">
                                    <input notnull="" title="Descripción" type="text" class="input-large required "
                                        id="txDescrip" name="txDescrip" maxlength="100" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input01">Valor</label>
                                <div class="col-sm-3">
                                    <input notnull="" title="Valor" type="text" class="input-large required "
                                        id="txValor" name="txValor" maxlength="100" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input01">Lengujae Programacion</label>
                                <div class="col-sm-3">
                                    <select notnull="" title="Identificador de la Empresa" id="cbMarca" name="cbMarca"
                                        class="form-combo" style="width: 350px;">
                                        <option selected="" value="101">Python</option>
                                        <option value="1001">Java</option>
                                        <option value="1003">JavaScript</option>
                                        <option value="1004">PHP</option>
                                        <option value="1005">C</option>
                                        <option value="1006">C++</option>
                                        <option value="1007">Objective-C</option>
                                        <option value="1008">Swift</option>
                                        <option value="1009">Delphi </option>
                                        <option value="1010">Cobol</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="input01">Imagen del curso</label>
                                <div class="col-sm-3">
                                    <input notnull="" title="ImgCurso" type="text" class="input required "
                                        id="txImgCurso" name="txImgCurso" maxlength="100" value="">
                                </div>
                            </div>
                            <div class="form-actions">
                                <table width="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td width="100%" align="right">
                                                <button type="button" align="right" class="btn  btn-success"
                                                    onclick="javascript:wpar.mpSecDoc.grabarCurso();"><i
                                                        class="fa fa-floppy-save"></i> Actualizar</button>
                                                <button align="right" class="btn btn-primary" name="commit"
                                                    value="Cerrar" type="reset"
                                                    onclick="javascript:wpar.mpSecDoc.desactivarSeccion()"><i
                                                        class="fa fa-ok"> DesActivar</i></button>
                                                <button disabled="" align="right" class="btn btn-primary" name="commit"
                                                    value="Cerrar" type="reset" onclick="javascript:fuAbrirCurso()"><i
                                                        class="fa fa-ok"> Activar</i></button>
                                                <button disabled="" align="right" class="btn btn-primary" name="commit"
                                                    value="Cerrar" type="reset" onclick="javascript:fuCerrarCurso()"><i
                                                        class="fa fa-remove"> Cerrar Curso 5127</i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                    <!-- **************************************************************************-->

                </div>
            </div>
        </div>
    </div>
</section>