<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="{%static 'mantenedor/FrWork/css/estilosAut.css'%}">
	

</head>  
<body>
<header>
         <a href="{% url 'public'  %}">
             <button class="button btn-primary">Volver a cursos</button>
        </a>
</header>
{% load crispy_forms_tags %}


 <form action="" method="POST" class="formulario">
    {% csrf_token %}
     <h1>Registrate</h1>
        <div class="contenedor border form-control">
      
            {{form | crispy}}
       

        </div>
            <input type="submit" value="Registrar" class="button">
            <hr>
            <input type="reset" value="Limpiar" class="button">
            <p>¿Ya tienes una cuenta? <a class="link" href="{% url 'login'%}">Iniciar sesion</a></p>
      {% comment %} <input type="submit" value="Registrate" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta?<a class="link" href="{% url 'login'%}">Iniciar Sesion</a></p> {% endcomment %}
    </form>
</body>
</html>